.notice {
  background-color: #DFF0D8;	
  color: #659564;
  line-height: 2rem;
  text-align:center;
  line-height: 2;
}

.alert {
  background: #f2dedd;
  color: #c27f7d;
  text-align: center;
  line-height: 2;
}